h1 {
  text-align: center;
}
.round-player {
  text-align: center;
}

.game-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15% 80px;
}

.pic {
  height: 220px;
  min-width: 100px;
}

/** Player side */
/**.player1-side {
 display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}
*/

.player1-side {
  border: solid;
  padding: 51px;
}

.player2-side {
  border: solid;
  padding: 51px;
}

/** button-wrapper */

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

button {
  margin: 20px;
  padding: 20px;
  width: 100px;
  border-radius: 15px 15px 15px 15px;
}
