/*! Font import */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
}

h1 {
  text-align: center;
}
.round-player {
  text-align: center;
}

.game-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10% 120px;
}

.pic {
  height: 220px;
  min-width: 100px;
}

/** Player side */
/**.player1-side {
 display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}
*/

.player1-side {
  border: solid;
  padding: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}

.holdResult {
}

.player2-side {
  border: solid;
  padding: 51px;
  border: solid;
  padding: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}

/** activePlayer */
.skin {
  box-shadow: 10px 10px 5px 10px rgba(13, 92, 42, 0.75);
  border: solid 5px rgb(182, 30, 30);
}

/** button-wrapper */

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

button {
  margin: 20px;
  padding: 20px;
  width: 100px;
  border-radius: 15px 15px 15px 15px;
}

.feed {
  text-align: center;
  font-size: 2em;
}

/** footer */
/** Mutebtn */
footer {
  text-align: center;
}
#mute {
  border: none;
  width: auto;
  text-align: center;
  font-size: 1.5rem;
}
